In [263]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import openpyxl
import datetime as dt
import pandas as pd
from sklearn import preprocessing
from sklearn import preprocessing

In [264]:
file = r'dealcloselistdata.csv'
file2 = r'team_detail.csv'
file3 = r'mandate_rejection_percentage.xlsx'
file4 = r'emplevel_data_from2019.xlsx'
data = pd.read_csv(file)
data2 = pd.read_csv(file2)
data3 = pd.read_excel(file3)
data4 = pd.read_excel(file4)

In [268]:
ddd = data4[['years', 'months', 'empcode', 'collection', 'emptype', 'empname',
       'empcity', 'ecs_dealclosed', 'ecs_hits','ecs_collection', 'active_employee',
       'presentdays', 'absentese_percentage', 'appintment_given',
       'appointment_attended', 'added_on', 'realisable_value',
       'realisable_value_1_yr', 'ccsi_amt', 'total_dealclose', 'ecs_dealclose',
       'bounce_dealclose', 'enach_dealclose', 'digital_dealclose',
       'ecs_deal_percent', 'enach_deal_percent', 'digital_deal_percent',
       'budget', 'date_of_leaving', 'active_flag', 
       'mandate_rejection_perc', 'total_mandate', 'rejected_mandate']]

In [269]:
df2=data.join(data3, lsuffix="_left", rsuffix="_right")
df2 = df2.drop(columns=['years_right','months_right','new_empcode'])
df2.rename(columns= {'years_left':'years','months_left':'months','empcode_left':'empcode'},inplace=True)

label_encoder = preprocessing.LabelEncoder()
ddd['emptype'] = label_encoder.fit_transform(ddd['emptype'])

ddd['present_percent'] = ddd['presentdays'] / ddd['active_employee'] * 100

In [274]:
ddd['years'].value_counts()

2019    73168
2020    24344
Name: years, dtype: int64

In [280]:
DD = ddd.groupby(['empcode','emptype']).agg(month_count = ('months','count'),total_working_days = ('active_employee','sum'),total_present_days = ('presentdays','sum'),present_percent = ('present_percent','mean'),collection_sum = ('collection','sum'),ecs_sum = ('ecs_hits','sum'),ecs_down_payment = ('ecs_collection','sum'), total_dc_sum =('total_dealclose','sum'), ecs_dc_sum = ('ecs_dealclose','sum'), total_mandate = ('total_mandate','sum'), total_mandate_rejected = ('rejected_mandate','sum')) 
DD.reset_index(inplace=True)


DD['mandate_clear_percent'] = (DD['total_mandate']-DD['total_mandate_rejected'])/DD['total_mandate']*100
DD['ecs_dc_percentage'] = DD['ecs_dc_sum']/DD['total_dc_sum']*100
DD['Total_revenue'] = DD['collection_sum'] + DD['ecs_sum']
DD['Total_revenue_per_month'] = DD['Total_revenue']/DD['month_count']

data = pd.merge(DD, ddd[['empcode','empname','date_of_leaving','added_on']], on ='empcode')
data.drop_duplicates(inplace=True)

In [281]:
DD.loc[(DD['empcode']==19)]
# "{:.2f}".format(DD['total_present_days'])

,empcode,emptype,month_count,total_working_days,total_present_days,present_percent,collection_sum,ecs_sum,ecs_down_payment,total_dc_sum,ecs_dc_sum,total_mandate,total_mandate_rejected,mandate_clear_percent,ecs_dc_percentage,Total_revenue,Total_revenue_per_month
4,19,1,12,305,300,98.333333,8.267123e+06,1.457965e+06,493139.830508,128.0,35.0,46,11,76.086957,27.34375,9.725088e+06,810424.013418

In [282]:
data.loc[(data['empcode']==19)]

,empcode,emptype,month_count,total_working_days,total_present_days,present_percent,collection_sum,ecs_sum,ecs_down_payment,total_dc_sum,ecs_dc_sum,total_mandate,total_mandate_rejected,mandate_clear_percent,ecs_dc_percentage,Total_revenue,Total_revenue_per_month,empname,date_of_leaving,added_on
13,19,1,12,305,300,98.333333,8.267123e+06,1.457965e+06,493139.830508,128.0,35.0,46,11,76.086957,27.34375,9.725088e+06,810424.013418,Anjana Parmar,2021-02-06 00:00:00,1997-04-17 00:00:00

In [289]:
DD.loc[(DD['empcode']==17702)]

,empcode,emptype,month_count,total_working_days,total_present_days,present_percent,collection_sum,ecs_sum,ecs_down_payment,total_dc_sum,ecs_dc_sum,total_mandate,total_mandate_rejected,mandate_clear_percent,ecs_dc_percentage,Total_revenue,Total_revenue_per_month
465,17702,2,12,306,277,90.519448,1.731184e+07,8.266133e+06,765690.254237,446.0,96.5,115,12,89.565217,21.636771,2.557798e+07,2.131498e+06

#### TME

In [334]:
TME = data.loc[(data['emptype']==2)]
TME_old = TME[['empcode','emptype','month_count','total_working_days','total_present_days','total_mandate', 'total_mandate_rejected', 'collection_sum','ecs_sum','total_dc_sum','ecs_dc_sum','ecs_dc_percentage','present_percent','mandate_clear_percent','Total_revenue','Total_revenue_per_month']]

TME_old['per_Day_Revenue_3y'] = TME_old['Total_revenue']/TME_old['total_working_days']
TME_old.fillna(0,inplace=True)

x = TME_old.iloc[0:,7:].values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df = pd.DataFrame(x_scaled, index=TME_old.empcode[0:])

TME_old.reset_index(inplace=True)
df.reset_index(inplace=True)

bbb = pd.concat([df.iloc[:,1:],TME_old], axis=1)

bbb.rename(columns= {0:'Norm_collection_sum',1:'Norm_ecs_sum',2:'Norm_total_dc_sum',3:'Norm_ecs_dc_sum',4:'Norm_ecs_dc_percentage',5:'Norm_present_percent',6:'Norm_mandate_clear_percent',7:'Norm_Total_revenue',8:'Norm_Total_revenue_per_month', 9:'Norm_per_Day_Revenue_3y'}, inplace=True)
bbb.fillna(0,inplace=True)


a = bbb['Norm_present_percent']*20
b = bbb['Norm_mandate_clear_percent']*20
c = bbb['Norm_ecs_dc_percentage']*20
d = bbb['Norm_per_Day_Revenue_3y']*20
e = bbb['Norm_mandate_clear_percent']*20

bbb['Performance']= a+b+c+d+e
bbb['grade'] = 0

a=bbb
for index in a.index:
    if a.loc[index,'Performance']>=70.00:
        a.loc[index,'grade'] = 1
    elif (a.loc[index,'Performance']>=60.00) & (a.loc[index,'Performance']<70.00):
        a.loc[index,'grade'] = 2
    elif (a.loc[index,'Performance']>=40.00) & (a.loc[index,'Performance']<60.00):
        a.loc[index,'grade'] = 3
    elif (a.loc[index,'Performance']>=10.00) & (a.loc[index,'Performance']<40.00):
        a.loc[index,'grade'] = 4
    elif (a.loc[index,'Performance']>=0.00) & (a.loc[index,'Performance']<10.00):
        a.loc[index,'grade'] = 5

TME_new2 = a
TME_new2.columns
TME_new2.set_index('empcode',inplace=True)

TME_new2.drop(columns=['index'],inplace=True)
TME_new2.reset_index(inplace=True)

TME_2 = TME_new2[['empcode', 'emptype','month_count','collection_sum', 
'ecs_sum', 'total_dc_sum','ecs_dc_sum','ecs_dc_percentage','total_working_days',
'total_present_days', 'present_percent','Total_revenue','Total_revenue_per_month', 'per_Day_Revenue_3y',  'total_mandate', 
'total_mandate_rejected','mandate_clear_percent','Performance', 'grade']]


TME = pd.merge(df2[['empcode','empname','empcity','date_of_leaving','added_on']],TME_2, on='empcode')
TME.drop_duplicates(inplace=True)


TME.fillna(0,inplace=True)
TME['emptype'] =label_encoder.inverse_transform(TME['emptype'])

TME_1_active = TME.loc[(TME['grade']==1) & (TME['month_count']>=1) & (TME['date_of_leaving']==0) | (TME['grade']==1) & (TME['month_count']>=1) & (TME['date_of_leaving']=='0000-00-00 00:00:00')] 
TME_2_active = TME.loc[(TME['grade']==2) & (TME['month_count']>=1) & (TME['date_of_leaving']==0) | (TME['grade']==2) & (TME['month_count']>=1) & (TME['date_of_leaving']=='0000-00-00 00:00:00')] 
TME_3_active = TME.loc[(TME['grade']==3) & (TME['month_count']>=1) & (TME['date_of_leaving']==0) | (TME['grade']==3) & (TME['month_count']>=1) & (TME['date_of_leaving']=='0000-00-00 00:00:00')] 
TME_4_active = TME.loc[(TME['grade']==4) & (TME['month_count']>=1) & (TME['date_of_leaving']==0) | (TME['grade']==4) & (TME['month_count']>=1) & (TME['date_of_leaving']=='0000-00-00 00:00:00')] 
TME_5_active = TME.loc[(TME['grade']==5) & (TME['month_count']>=1) & (TME['date_of_leaving']==0) | (TME['grade']==5) & (TME['month_count']>=1) & (TME['date_of_leaving']=='0000-00-00 00:00:00')] 

TME_active = pd.concat([TME_1_active, TME_2_active, TME_3_active,TME_4_active, TME_5_active], axis=0)
TME_active.reset_index(inplace=True)

TME_active.fillna(0,inplace=True)
TME_active.drop(columns='index',inplace=True)


TME_active = TME_active[['empcode', 'empname', 'empcity', 'date_of_leaving', 'added_on',
       'emptype', 'month_count', 'collection_sum', 'ecs_sum', 'total_dc_sum',
       'ecs_dc_sum', 'ecs_dc_percentage','total_working_days',
       'total_present_days', 'present_percent',
       'Total_revenue', 'Total_revenue_per_month', 'per_Day_Revenue_3y', 'total_mandate', 'total_mandate_rejected',
       'mandate_clear_percent' ,'Performance','grade']]

TME = TME_active[['collection_sum', 'ecs_sum', 'total_dc_sum',
       'ecs_dc_sum', 'ecs_dc_percentage', 'total_working_days',
       'total_present_days', 'present_percent', 'Total_revenue',
       'Total_revenue_per_month', 'per_Day_Revenue_3y','total_mandate', 'total_mandate_rejected',
       'mandate_clear_percent', 'Performance','grade']].round(decimals = 2)

TME1 = TME_active[['empcode', 'empname', 'empcity', 'date_of_leaving', 'added_on',
       'emptype', 'month_count']]


TME_final = pd.concat([TME1,TME], axis=1)

TME_super30 = TME_final.loc[(TME_final['per_Day_Revenue_3y']>500) & (TME_final['month_count']>=12)]
TME_rising_superstars = TME_final.loc[(TME_final['month_count']<12) & (TME_final['per_Day_Revenue_3y']>500)]
TME_super30 = TME_super30.sort_values(by='Performance',ascending=False).head(30).reset_index()
TME_rising_superstars = TME_rising_superstars.sort_values(by=('Performance'),ascending=False).head(30).reset_index()
TME_super30.drop(columns='index',inplace=True)
TME_rising_superstars.drop(columns='index',inplace=True)

/tmp/ipykernel_7232/1653166767.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TME_old['per_Day_Revenue_3y'] = TME_old['Total_revenue']/TME_old['total_working_days']
/tmp/ipykernel_7232/1653166767.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  TME_old.fillna(0,inplace=True)

In [335]:
TME_final.loc[(TME_final['empcode']==17702)]
# data.loc[(data['empcode']==19)]

,empcode,empname,empcity,date_of_leaving,added_on,emptype,month_count,collection_sum,ecs_sum,total_dc_sum,...,total_present_days,present_percent,Total_revenue,Total_revenue_per_month,per_Day_Revenue_3y,total_mandate,total_mandate_rejected,mandate_clear_percent,Performance,grade
61,17702,Krishna Choudhari,Noida,0000-00-00 00:00:00,2011-04-04 00:00:00,TME,12,17311843.3,8266132.63,446.0,...,277,90.52,25577975.92,2131497.99,83588.16,115,12,89.57,64.01,2

In [343]:
TME_super30.to_csv('TME_super30.csv')
TME_rising_superstars.to_csv('TME_rising_superstars.csv')

In [336]:
TME_super30

,empcode,empname,empcity,date_of_leaving,added_on,emptype,month_count,collection_sum,ecs_sum,total_dc_sum,...,total_present_days,present_percent,Total_revenue,Total_revenue_per_month,per_Day_Revenue_3y,total_mandate,total_mandate_rejected,mandate_clear_percent,Performance,grade
0,9082,Abhishek Singh,Mumbai,0000-00-00 00:00:00,2009-04-24 00:00:00,TME,12,6771355.08,53680560.17,203.5,...,263,86.11,60451915.25,5037659.60,198203.00,137,26,81.02,77.76,1
1,10000597,BHARATHI D,Bangalore,0000-00-00 00:00:00,2012-03-19 00:00:00,TME,12,11267045.44,49670850.00,218.0,...,277,91.10,60937895.44,5078157.95,200453.60,45,7,84.44,72.61,1
2,10040018,Suchitra Swapnil Kudalkar,Pune,0000-00-00 00:00:00,2016-05-02 00:00:00,TME,12,933755.08,10926041.10,97.5,...,274,89.97,11859796.19,988316.35,39012.49,105,10,90.48,70.07,1
3,10002738,Sayali Phate,Pune,0000-00-00 00:00:00,2012-06-15 00:00:00,TME,12,884709.75,4452938.98,76.5,...,282,92.77,5337648.73,444804.06,17558.06,93,9,90.32,69.08,2
4,10619,Lajwanti Saraf,Pune,0000-00-00 00:00:00,2009-09-08 00:00:00,TME,12,646123.31,4325518.22,55.5,...,282,92.88,4971641.53,414303.46,16354.08,47,2,95.74,67.92,2
5,9222,Seema Gaddam,Pune,0000-00-00 00:00:00,2009-05-05 00:00:00,TME,12,1231204.40,5708295.76,53.5,...,283,93.16,6939500.16,578291.68,22827.30,54,6,88.89,67.82,2
6,23056,Deepali Dhimdhime,Pune,0000-00-00 00:00:00,2012-01-17 00:00:00,TME,12,636897.03,4417521.19,44.0,...,277,91.17,5054418.22,421201.52,16626.38,36,2,94.44,67.57,2
7,10021129,Kiran Parekh,Ahmedabad,0000-00-00 00:00:00,2014-05-12 00:00:00,TME,12,906302.67,4166855.51,87.5,...,290,95.10,5073158.18,422763.18,16633.31,101,12,88.12,67.38,2
8,10003305,GAYATHRI PAUL,Bangalore,0000-00-00 00:00:00,2012-07-10 00:00:00,TME,12,1717649.58,14422470.34,108.0,...,243,79.91,16140119.92,1345009.99,53092.50,88,12,86.36,67.06,2
9,10032764,Jyoti Patil,Pune,0000-00-00 00:00:00,2015-07-13 00:00:00,TME,12,1624125.42,2476202.54,177.5,...,271,89.28,4100327.97,341694.00,13487.92,156,13,91.67,66.67,2
10,20643,FOUZIYA SULTANA,Bangalore,0000-00-00 00:00:00,2011-09-05 00:00:00,TME,12,8369553.19,38125155.93,315.5,...,237,77.76,46494709.12,3874559.09,152943.12,86,14,83.72,66.45,2
11,21551,Ashwin Patel,Mumbai,0000-00-00 00:00:00,2011-10-14 00:00:00,TME,12,1220176.27,3832514.41,86.0,...,292,95.76,5052690.68,421057.56,16566.20,61,5,91.80,66.42,2
12,20149,Anjali Ramsinghani,Mumbai,0000-00-00 00:00:00,2011-08-01 00:00:00,TME,12,14819150.06,15794722.03,349.5,...,275,90.25,30613872.09,2551156.01,100373.35,61,4,93.44,65.75,2
13,10069799,Keerthana N,Chennai,0000-00-00 00:00:00,2018-11-07 00:00:00,TME,12,1398957.63,2970570.76,75.0,...,284,93.20,4369528.39,364127.37,14326.32,53,5,90.57,65.63,2
14,10015450,Sarika Sasane,Pune,0000-00-00 00:00:00,2013-10-21 00:00:00,TME,12,974634.75,1795561.02,57.0,...,279,91.81,2770195.76,230849.65,9112.49,52,6,88.46,65.54,2
15,10007768,Nilima Walke,Pune,0000-00-00 00:00:00,2012-11-26 00:00:00,TME,12,497460.59,3760029.24,65.5,...,286,94.12,4257489.83,354790.82,14004.90,56,7,87.50,65.51,2
16,10010720,Vicky Sharma,Pune,0000-00-00 00:00:00,2013-05-02 00:00:00,TME,12,746048.73,4082231.78,37.5,...,283,93.19,4828280.51,402356.71,15882.50,39,5,87.18,65.50,2
17,10017780,Aavez Shaikh,Pune,0000-00-00 00:00:00,2014-01-13 00:00:00,TME,12,769826.69,4320677.97,69.0,...,272,89.49,5090504.66,424208.72,16745.08,65,8,87.69,65.42,2
18,10057324,Ajaz Ahemad Qureshi,Ahmedabad,0000-00-00 00:00:00,2017-11-13 00:00:00,TME,12,340924.15,983770.34,40.0,...,303,99.35,1324694.49,110391.21,4343.26,36,5,86.11,65.41,2
19,10067642,Ruksar begum,Bangalore,0,2018-08-06 00:00:00,TME,12,1249008.05,318433.90,128.5,...,294,96.74,1567441.95,130620.16,5156.06,96,10,89.58,65.38,2
20,649,Rajani A k,Bangalore,0000-00-00 00:00:00,2005-08-11 00:00:00,TME,12,1565881.36,12412956.78,110.0,...,230,75.58,13978838.14,1164903.18,45983.02,90,15,83.33,65.15,2
21,10044099,Arti Pawar,Pune,0000-00-00 00:00:00,2016-08-29 00:00:00,TME,12,1114460.59,7311963.56,64.0,...,274,90.18,8426424.15,702202.01,27718.50,71,11,84.51,65.15,2
22,10013950,Pooja Vishal Wattamwar,Pune,0000-00-00 00:00:00,2013-08-21 00:00:00,TME,12,891808.05,1752395.76,67.0,...,289,95.07,2644203.81,220350.32,8698.04,40,1,97.50,64.97,2
23,10064587,Anil Bharakhada,Mumbai,0,2018-06-04 00:00:00,TME,12,1272444.49,229866.95,117.0,...,328,107.69,1502311.44,125192.62,4925.61,70,9,87.14,64.92,2
24,10073844,Jayashri Pujari,Pune,0000-00-00 00:00:00,2019-02-11 00:00:00,TME,12,510630.51,65337.29,57.0,...,295,97.05,575967.80,47997.32,1894.63,36,3,91.67,64.90,2
25,10015770,Suganya M,Chennai,0000-00-00 00:00:00,2013-10-28 00:00:00,TME,12,1749019.49,2963350.00,103.5,...,290,95.07,4712369.49,392697.46,15450.39,70,8,88.57,64.86,2
26,10053360,Yash Bhatt,Pune,0000-00-00 00:00:00,2017-07-24 00:00:00,TME,12,470729.66,293397.46,64.0,...,262,86.32,764127.12,63677.26,2513.58,51,3,94.12,64.73,2
27,10065176,Shanu Tayal,Chandigarh,0000-00-00 00:00:00,2018-06-18 00:00:00,TME,12,676266.95,53398.31,83.0,...,296,96.82,729665.25,60805.44,2384.53,53,4,92.45,64.66,2
28,10003815,Sanju Waghela,Pune,0000-00-00 00:00:00,2012-07-17 00:00:00,TME,12,3393029.24,6291227.12,140.0,...,290,95.24,9684256.36,807021.36,31856.11,76,8,89.47,64.65,2
29,10015558,Bhagyashree Akku,Pune,0000-00-00 00:00:00,2013-10-21 00:00:00,TME,12,887263.98,1677097.03,54.5,...,272,89.50,2564361.02,213696.75,8435.40,47,5,89.36,64.59,2

In [260]:
TME_rising_superstars

,empcode,empname,empcity,date_of_leaving,added_on,emptype,month_count,collection_sum,ecs_sum,total_dc_sum,...,total_present_days,present_percent,Total_revenue,Total_revenue_per_month,per_Day_Revenue_3y,total_mandate,total_mandate_rejected,mandate_clear_percent,Performance,grade
0,8389,DEBALINA DUTTA GUPTA,Kolkata,0000-00-00 00:00:00,2009-02-16 00:00:00,TME,1,50000.00,0.00,1.0,...,24,96.00,50000.00,50000.00,2000.00,1,0,100.00,70.82,1
1,10085409,kanak,Noida,0000-00-00 00:00:00,2019-12-02 00:00:00,TME,2,26999.15,0.00,7.0,...,44,88.00,26999.15,13499.58,539.98,4,0,100.00,68.92,2
2,10038942,Soumyadip Sarkar,Kolkata,0000-00-00 00:00:00,2016-03-28 00:00:00,TME,4,35715.25,117036.44,3.0,...,84,81.52,152751.69,38187.92,1483.03,3,0,100.00,67.66,2
3,10083817,Keerthana venkatesh,Coimbatore,0000-00-00 00:00:00,2019-10-09 00:00:00,TME,4,48081.36,77788.98,10.0,...,102,99.00,125870.34,31467.58,1222.04,11,1,90.91,66.60,2
4,10084283,K KIRAN PRASATH,Coimbatore,0000-00-00 00:00:00,2019-11-05 00:00:00,TME,4,110245.76,998521.19,16.0,...,98,97.00,1108766.95,277191.74,10977.89,15,1,93.33,66.58,2
5,10088387,Kirti Maheshwari,Noida,0,2020-01-29 00:00:00,TME,2,44786.44,0.00,13.5,...,42,84.00,44786.44,22393.22,895.73,12,0,100.00,66.26,2
6,10084030,Rupali Rajendra Chavan,Mumbai,0000-00-00 00:00:00,2019-10-15 00:00:00,TME,6,87117.80,6000.00,16.5,...,134,87.74,93117.80,15519.63,612.62,17,0,100.00,65.85,2
7,10088153,stephygraph pandi,Coimbatore,0000-00-00 00:00:00,2020-01-27 00:00:00,TME,1,32400.00,0.00,6.0,...,23,92.00,32400.00,32400.00,1296.00,5,0,100.00,65.71,2
8,10086425,Neeta govindrao khandare,Pune,0000-00-00 00:00:00,2019-12-17 00:00:00,TME,3,49366.10,6093.22,19.5,...,73,96.10,55459.32,18486.44,729.73,24,3,87.50,65.64,2
9,10088253,Arpitha M P,Bangalore,0,2020-01-27 00:00:00,TME,2,29669.49,4513.56,8.0,...,48,94.08,34183.05,17091.53,670.26,8,1,87.50,63.99,2
10,10085959,Chiranjit barman,Kolkata,0,2019-12-09 00:00:00,TME,4,84369.49,2500.00,11.0,...,76,73.96,86869.49,21717.37,843.39,11,0,100.00,63.68,2
11,10086226,SUMIT KUMAR,Noida,0,2019-12-16 00:00:00,TME,3,221382.20,35993.22,29.5,...,72,94.77,257375.42,85791.81,3386.52,26,3,88.46,63.61,2
12,10083510,R.pavithra,Chennai,0,2019-09-17 00:00:00,TME,6,102402.54,8000.00,14.5,...,149,98.85,110402.54,18400.42,731.14,10,0,100.00,63.51,2
13,10085720,Anil Kumar,Noida,0,2019-12-09 00:00:00,TME,3,151048.31,13000.00,24.0,...,70,92.05,164048.31,54682.77,2158.53,20,2,90.00,63.33,2
14,10087967,Shubham Waghmare,Pune,0,2020-01-17 00:00:00,TME,2,46452.12,0.00,7.5,...,48,96.00,46452.12,23226.06,929.04,12,2,83.33,63.19,2
15,10083869,Pranjali Arunrao nagde,Pune,0000-00-00 00:00:00,2019-10-07 00:00:00,TME,5,126083.05,5999.15,19.0,...,119,93.02,132082.20,26416.44,1031.89,22,1,95.45,63.00,2
16,10084284,Gopal,Noida,0,2019-11-04 00:00:00,TME,4,272136.44,6000.00,36.0,...,93,91.19,278136.44,69534.11,2726.83,36,5,86.11,62.94,2
17,471,Manjula Shivakumar,Bangalore,0000-00-00 00:00:00,2005-03-09 00:00:00,TME,6,307860.17,0.00,11.5,...,137,89.50,307860.17,51310.03,2012.16,10,0,100.00,62.91,2
18,10083890,KABITA PAL,Kolkata,0000-00-00 00:00:00,2019-10-09 00:00:00,TME,4,155866.10,13994.07,20.0,...,97,94.19,169860.17,42465.04,1649.13,19,1,94.74,62.83,2
19,10086037,Manikandan,Chennai,0,2019-12-10 00:00:00,TME,3,60097.46,9998.31,15.5,...,69,91.88,70095.76,23365.25,934.61,18,3,83.33,62.41,2
20,10084509,Ramya,Coimbatore,0000-00-00 00:00:00,2019-11-12 00:00:00,TME,3,65309.32,0.00,15.0,...,71,94.55,65309.32,21769.77,870.79,10,0,100.00,62.03,2
21,10087738,Gunnala Akhil,Hyderabad,0,2020-01-08 00:00:00,TME,3,88827.12,0.00,8.0,...,63,82.77,88827.12,29609.04,1168.78,9,1,88.89,61.98,2
22,10049021,Pooja Mozar,Pune,0000-00-00 00:00:00,2017-02-02 00:00:00,TME,11,713440.68,4379418.64,67.5,...,259,92.79,5092859.32,462987.21,18253.98,71,10,85.92,61.97,2
23,10085533,Mohammad Nasir,Noida,0,2019-12-02 00:00:00,TME,4,120904.24,11996.61,23.0,...,85,83.46,132900.85,33225.21,1302.95,25,5,80.00,61.96,2
24,10084571,Kabilan P,Chennai,0,2019-11-11 00:00:00,TME,3,54233.47,4000.00,18.5,...,63,83.71,58233.47,19411.16,776.45,18,0,100.00,61.95,2
25,10084213,Pinky ghosh,Kolkata,0,2019-10-24 00:00:00,TME,5,209985.59,22394.07,27.0,...,122,94.58,232379.66,46475.93,1801.39,21,2,90.48,61.63,2
26,10044749,Reshma C Nair,Hyderabad,0,2016-09-19 00:00:00,TME,5,25709.32,84742.37,4.0,...,105,82.75,110451.69,22090.34,869.70,4,0,100.00,61.59,2
27,10083840,Tamilvanan Muruganandham,Coimbatore,0000-00-00 00:00:00,2019-10-09 00:00:00,TME,5,158688.14,38588.14,28.5,...,122,96.06,197276.27,39455.25,1553.36,25,4,84.00,61.51,2
28,10083442,Kayathri,Coimbatore,0000-00-00 00:00:00,2019-09-17 00:00:00,TME,6,86187.71,0.00,19.5,...,150,98.66,86187.71,14364.62,567.02,19,4,78.95,61.46,2
29,10083800,IMMAN SATHISH,Chennai,0,2019-10-08 00:00:00,TME,5,102622.03,5998.31,17.0,...,114,89.81,108620.34,21724.07,855.28,14,0,100.00,61.26,2

#### JDA

In [337]:
JDA = data.loc[(data['emptype']==0)]
JDA_old = JDA[['empcode','emptype','month_count','total_working_days','total_present_days','total_mandate', 'total_mandate_rejected', 'collection_sum','ecs_sum','total_dc_sum','ecs_dc_sum','ecs_dc_percentage','present_percent','mandate_clear_percent','Total_revenue','Total_revenue_per_month']]

JDA_old['per_Day_Revenue_3y'] = JDA_old['Total_revenue']/JDA_old['total_working_days']
JDA_old.fillna(0,inplace=True)

x = JDA_old.iloc[0:,7:].values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df = pd.DataFrame(x_scaled, index=JDA_old.empcode[0:])

JDA_old.reset_index(inplace=True)
df.reset_index(inplace=True)

bbb = pd.concat([df.iloc[:,1:],JDA_old], axis=1)

bbb.rename(columns= {0:'Norm_collection_sum',1:'Norm_ecs_sum',2:'Norm_total_dc_sum',3:'Norm_ecs_dc_sum',4:'Norm_ecs_dc_percentage',5:'Norm_present_percent',6:'Norm_mandate_clear_percent',7:'Norm_Total_revenue',8:'Norm_Total_revenue_per_month', 9:'Norm_per_Day_Revenue_3y'}, inplace=True)
bbb.fillna(0,inplace=True)


a = bbb['Norm_present_percent']*20
b = bbb['Norm_mandate_clear_percent']*20
c = bbb['Norm_ecs_dc_percentage']*20
d = bbb['Norm_per_Day_Revenue_3y']*20
e = bbb['Norm_mandate_clear_percent']*20

bbb['Performance']= a+b+c+d+e
bbb['grade'] = 0

a=bbb
for index in a.index:
    if a.loc[index,'Performance']>=70.00:
        a.loc[index,'grade'] = 1
    elif (a.loc[index,'Performance']>=60.00) & (a.loc[index,'Performance']<70.00):
        a.loc[index,'grade'] = 2
    elif (a.loc[index,'Performance']>=40.00) & (a.loc[index,'Performance']<60.00):
        a.loc[index,'grade'] = 3
    elif (a.loc[index,'Performance']>=10.00) & (a.loc[index,'Performance']<40.00):
        a.loc[index,'grade'] = 4
    elif (a.loc[index,'Performance']>=0.00) & (a.loc[index,'Performance']<10.00):
        a.loc[index,'grade'] = 5

JDA_new2 = a
JDA_new2.columns
JDA_new2.set_index('empcode',inplace=True)

JDA_new2.drop(columns=['index'],inplace=True)
JDA_new2.reset_index(inplace=True)

JDA_2 = JDA_new2[['empcode', 'emptype','month_count','collection_sum', 
'ecs_sum', 'total_dc_sum','ecs_dc_sum','ecs_dc_percentage','total_working_days',
'total_present_days', 'present_percent','Total_revenue','Total_revenue_per_month', 'per_Day_Revenue_3y',  'total_mandate', 
'total_mandate_rejected','mandate_clear_percent','Performance', 'grade']]


JDA = pd.merge(df2[['empcode','empname','empcity','date_of_leaving','added_on']],JDA_2, on='empcode')
JDA.drop_duplicates(inplace=True)


JDA.fillna(0,inplace=True)
JDA['emptype'] =label_encoder.inverse_transform(JDA['emptype'])

JDA_1_active = JDA.loc[(JDA['grade']==1) & (JDA['month_count']>=1) & (JDA['date_of_leaving']==0) | (JDA['grade']==1) & (JDA['month_count']>=1) & (JDA['date_of_leaving']=='0000-00-00 00:00:00')] 
JDA_2_active = JDA.loc[(JDA['grade']==2) & (JDA['month_count']>=1) & (JDA['date_of_leaving']==0) | (JDA['grade']==2) & (JDA['month_count']>=1) & (JDA['date_of_leaving']=='0000-00-00 00:00:00')] 
JDA_3_active = JDA.loc[(JDA['grade']==3) & (JDA['month_count']>=1) & (JDA['date_of_leaving']==0) | (JDA['grade']==3) & (JDA['month_count']>=1) & (JDA['date_of_leaving']=='0000-00-00 00:00:00')] 
JDA_4_active = JDA.loc[(JDA['grade']==4) & (JDA['month_count']>=1) & (JDA['date_of_leaving']==0) | (JDA['grade']==4) & (JDA['month_count']>=1) & (JDA['date_of_leaving']=='0000-00-00 00:00:00')] 
JDA_5_active = JDA.loc[(JDA['grade']==5) & (JDA['month_count']>=1) & (JDA['date_of_leaving']==0) | (JDA['grade']==5) & (JDA['month_count']>=1) & (JDA['date_of_leaving']=='0000-00-00 00:00:00')] 

JDA_active = pd.concat([JDA_1_active, JDA_2_active, JDA_3_active,JDA_4_active, JDA_5_active], axis=0)
JDA_active.reset_index(inplace=True)

JDA_active.fillna(0,inplace=True)
JDA_active.drop(columns='index',inplace=True)


JDA_active = JDA_active[['empcode', 'empname', 'empcity', 'date_of_leaving', 'added_on',
       'emptype', 'month_count', 'collection_sum', 'ecs_sum', 'total_dc_sum',
       'ecs_dc_sum', 'ecs_dc_percentage','total_working_days',
       'total_present_days', 'present_percent',
       'Total_revenue', 'Total_revenue_per_month', 'per_Day_Revenue_3y', 'total_mandate', 'total_mandate_rejected',
       'mandate_clear_percent' ,'Performance','grade']]

JDA = JDA_active[['collection_sum', 'ecs_sum', 'total_dc_sum',
       'ecs_dc_sum', 'ecs_dc_percentage', 'total_working_days',
       'total_present_days', 'present_percent', 'Total_revenue',
       'Total_revenue_per_month', 'per_Day_Revenue_3y','total_mandate', 'total_mandate_rejected',
       'mandate_clear_percent', 'Performance','grade']].round(decimals = 2)

JDA1 = JDA_active[['empcode', 'empname', 'empcity', 'date_of_leaving', 'added_on',
       'emptype', 'month_count']]


JDA_final = pd.concat([JDA1,JDA], axis=1)

JDA_super30 = JDA_final.loc[(JDA_final['per_Day_Revenue_3y']>500) & (JDA_final['month_count']>=12)]
JDA_rising_superstars = JDA_final.loc[(JDA_final['month_count']<12) & (JDA_final['per_Day_Revenue_3y']>500)]
JDA_super30 = JDA_super30.sort_values(by='Performance',ascending=False).head(30).reset_index()
JDA_rising_superstars = JDA_rising_superstars.sort_values(by=('Performance'),ascending=False).head(30).reset_index()
JDA_super30.drop(columns='index',inplace=True)
JDA_rising_superstars.drop(columns='index',inplace=True)

/tmp/ipykernel_7232/3198013358.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  JDA_old['per_Day_Revenue_3y'] = JDA_old['Total_revenue']/JDA_old['total_working_days']
/tmp/ipykernel_7232/3198013358.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  JDA_old.fillna(0,inplace=True)

In [338]:
JDA_super30

,empcode,empname,empcity,date_of_leaving,added_on,emptype,month_count,collection_sum,ecs_sum,total_dc_sum,...,total_present_days,present_percent,Total_revenue,Total_revenue_per_month,per_Day_Revenue_3y,total_mandate,total_mandate_rejected,mandate_clear_percent,Performance,grade
0,10045115,Daram Mahendra Reddy,Hyderabad,0000-00-00 00:00:00,2016-10-10 00:00:00,JDA,12,2352248.31,4365700.42,182.0,...,294,96.71,6717948.73,559829.06,22098.52,129,8,93.80,75.06,1
1,10024462,Sundar Srivastav,Noida,0000-00-00 00:00:00,2014-09-29 00:00:00,JDA,12,5707846.61,1588024.58,184.5,...,302,98.57,7295871.19,607989.27,23842.72,90,5,94.44,73.91,1
2,10023068,Bhushan Bhure,Pune,0000-00-00 00:00:00,2014-06-24 00:00:00,JDA,12,823047.46,2889208.05,128.5,...,290,95.40,3712255.51,309354.63,12211.37,149,28,81.21,70.08,1
3,10022806,Souvik Ghosh,Kolkata,0,2014-06-24 00:00:00,JDA,12,975120.34,790080.08,121.0,...,296,96.78,1765200.42,147100.04,5768.63,95,8,91.58,69.88,2
4,10043178,Sukhdew Mandal,Pune,0,2016-07-25 00:00:00,JDA,12,1037868.22,2317731.36,165.5,...,288,94.70,3355599.58,279633.30,11038.16,120,9,92.50,69.78,2
5,10047289,Pankaj Sonke,Pune,0,2017-01-09 00:00:00,JDA,12,377250.85,293234.75,97.0,...,267,88.19,670485.59,55873.80,2205.54,80,5,93.75,69.22,2
6,10065822,Somashekhar M N,Bangalore,0,2018-06-25 00:00:00,JDA,12,979933.90,377705.93,143.0,...,289,95.15,1357639.83,113136.65,4465.92,106,7,93.40,68.85,2
7,10051786,Dharavath Venkanna,Hyderabad,0,2017-06-05 00:00:00,JDA,12,2104332.63,2420494.07,152.5,...,291,95.79,4524826.69,377068.89,14884.30,121,19,84.30,68.71,2
8,10062371,Boora Ravi Kumar,Hyderabad,0000-00-00 00:00:00,2018-04-18 00:00:00,JDA,12,1542705.08,1139587.29,93.5,...,285,93.88,2682292.37,223524.36,8823.33,71,7,90.14,68.32,2
9,10071961,Nikhil Sharma,Noida,0000-00-00 00:00:00,2019-01-07 00:00:00,JDA,12,637953.39,63356.78,80.0,...,288,94.10,701310.17,58442.51,2291.86,66,7,89.39,68.29,2
10,10053101,Rajkishor Yadav,Pune,0,2017-06-27 00:00:00,JDA,12,522552.54,1079981.36,135.0,...,284,93.21,1602533.90,133544.49,5271.49,136,20,85.29,68.22,2
11,10053269,Aditya Shukla,Pune,0000-00-00 00:00:00,2017-07-03 00:00:00,JDA,12,572563.98,353976.69,94.5,...,289,95.09,926540.68,77211.72,3047.83,92,12,86.96,68.17,2
12,10012025,Suraj Pawar,Mumbai,0000-00-00 00:00:00,2013-06-15 00:00:00,JDA,12,2452049.15,2418863.98,144.0,...,280,91.96,4870913.14,405909.43,15970.21,82,8,90.24,68.15,2
13,10037012,Md Zaffer Iqbal Khan,Noida,0000-00-00 00:00:00,2016-02-01 00:00:00,JDA,12,1522177.54,392687.29,98.0,...,289,94.34,1914864.83,159572.07,6257.73,64,4,93.75,67.91,2
14,10051924,Subham Purwar,Noida,0,2017-06-05 00:00:00,JDA,12,3515010.17,1418530.93,190.0,...,288,93.97,4933541.10,411128.43,16122.68,99,9,90.91,67.83,2
15,10057484,Prabej Shaikh,Pune,0000-00-00 00:00:00,2017-11-13 00:00:00,JDA,12,423908.05,222444.92,86.5,...,296,97.45,646352.97,53862.75,2126.16,128,21,83.59,67.69,2
16,10041464,Pankaj Gupta,Pune,0,2016-06-13 00:00:00,JDA,12,237960.59,398450.00,74.0,...,269,88.60,636410.59,53034.22,2093.46,70,7,90.00,67.46,2
17,10037594,Ganesh Kakade,Pune,0000-00-00 00:00:00,2016-02-15 00:00:00,JDA,12,555525.42,1423771.61,114.5,...,280,91.85,1979297.03,164941.42,6510.85,113,20,82.30,67.34,2
18,10036077,Satendra Kumar Tiwari,Noida,0,2016-01-01 00:00:00,JDA,12,1725239.41,1206264.83,123.0,...,285,93.19,2931504.24,244292.02,9580.08,91,11,87.91,67.31,2
19,10006205,Nitin Kumar,Noida,0000-00-00 00:00:00,2012-10-18 00:00:00,JDA,12,1493559.75,2310295.76,121.0,...,295,96.39,3803855.51,316987.96,12430.90,83,13,84.34,67.10,2
20,10060381,TIRAGATI VEERA VENKATA SATYA GANESH,Hyderabad,0,2018-02-12 00:00:00,JDA,12,379184.75,101301.69,72.0,...,279,91.90,480486.44,40040.54,1580.55,46,1,97.83,67.06,2
21,10034330,Sandip Kumar Mishra,Noida,0000-00-00 00:00:00,2015-09-21 00:00:00,JDA,12,4612974.15,1908371.19,192.0,...,296,96.67,6521345.34,543445.44,21311.59,72,10,86.11,67.01,2
22,10031328,Harish Likhar,Pune,0000-00-00 00:00:00,2015-06-08 00:00:00,JDA,12,494961.02,483777.97,94.0,...,286,94.11,978738.98,81561.58,3219.54,71,3,95.77,66.89,2
23,10040828,Hemanth Kumar K V,Bangalore,0000-00-00 00:00:00,2016-05-23 00:00:00,JDA,12,740048.73,345314.83,111.5,...,309,101.71,1085363.56,90446.96,3570.27,119,21,82.35,66.84,2
24,10066011,Sahib Khushal Dabla,Jaipur,0000-00-00 00:00:00,2018-07-02 00:00:00,JDA,12,1242025.42,160630.51,118.5,...,300,98.38,1402655.93,116887.99,4598.87,77,7,90.91,66.73,2
25,10034496,Vinayak Jorapur,Bangalore,0000-00-00 00:00:00,2015-09-28 00:00:00,JDA,12,1821009.32,1858231.36,113.5,...,281,92.32,3679240.68,306603.39,12102.77,62,6,90.32,66.72,2
26,10074916,Sayan Banerjee,Kolkata,0,2019-03-11 00:00:00,JDA,12,220038.56,14498.31,34.0,...,293,95.88,234536.86,19544.74,766.46,27,2,92.59,66.71,2
27,10068477,Jnanesh M,Bangalore,0000-00-00 00:00:00,2018-09-11 00:00:00,JDA,12,830713.56,203962.71,98.5,...,290,95.53,1034676.27,86223.02,3403.54,78,8,89.74,66.46,2
28,10016066,Ramesh Verma,Noida,0000-00-00 00:00:00,2013-11-11 00:00:00,JDA,12,3397023.31,2144337.29,213.5,...,316,103.20,5541360.59,461780.05,18109.02,87,13,85.06,66.44,2
29,10067276,Bandari Santosh,Hyderabad,0,2018-08-06 00:00:00,JDA,12,1057605.93,433592.37,89.5,...,275,90.55,1491198.31,124266.53,4905.26,60,4,93.33,66.42,2

In [339]:
JDA_rising_superstars

,empcode,empname,empcity,date_of_leaving,added_on,emptype,month_count,collection_sum,ecs_sum,total_dc_sum,...,total_present_days,present_percent,Total_revenue,Total_revenue_per_month,per_Day_Revenue_3y,total_mandate,total_mandate_rejected,mandate_clear_percent,Performance,grade
0,10015114,Abhee Omar,Pune,0000-00-00 00:00:00,2013-10-07 00:00:00,JDA,1,127118.64,0.00,1.0,...,22,88.00,127118.64,127118.64,5084.75,5,0,100.00,77.76,1
1,10006694,Sachin Arane,Mumbai,0000-00-00 00:00:00,2012-10-20 00:00:00,JDA,5,2742349.58,3319133.05,90.0,...,122,94.40,6061482.64,1212296.53,46988.24,24,2,91.67,75.63,1
2,10023076,Sahil Khan,Pune,0000-00-00 00:00:00,2014-06-24 00:00:00,JDA,11,535660.17,526541.53,53.5,...,275,98.65,1062201.69,96563.79,3807.17,68,4,94.12,73.39,1
3,10088223,Bodhisattwa Purkait,Kolkata,0,2020-01-27 00:00:00,JDA,2,42777.12,1198.31,15.0,...,42,82.62,43975.42,21987.71,862.26,15,0,100.00,72.34,1
4,10085189,Ravi Gupta,Noida,0,2019-11-26 00:00:00,JDA,4,110800.00,4500.00,15.0,...,99,97.08,115300.00,28825.00,1130.39,13,1,92.31,71.94,1
5,10084725,venkatachalapathy,Coimbatore,0,2019-11-15 00:00:00,JDA,4,118114.41,20775.42,34.0,...,99,98.04,138889.83,34722.46,1375.15,30,2,93.33,71.77,1
6,10085803,Ravi Kumar,Noida,0,2019-12-09 00:00:00,JDA,4,141600.00,0.00,15.0,...,87,85.54,141600.00,35400.00,1388.24,13,0,100.00,71.75,1
7,10084735,Riyad N,Coimbatore,0,2019-11-18 00:00:00,JDA,4,91567.80,0.00,19.5,...,92,91.39,91567.80,22891.95,906.61,22,0,100.00,71.46,1
8,10087204,Gaurav Sharma,Noida,0000-00-00 00:00:00,2020-01-13 00:00:00,JDA,2,42491.53,1247.46,10.0,...,42,84.00,43738.98,21869.49,874.78,8,0,100.00,71.26,1
9,10041265,Akhil T Ramanan,Coimbatore,0000-00-00 00:00:00,2016-06-09 00:00:00,JDA,3,78701.69,0.00,6.5,...,77,101.23,78701.69,26233.90,1035.55,4,0,100.00,70.69,1
10,10080313,Nisarg Prakash Kadu,Pune,0,2019-07-09 00:00:00,JDA,9,149882.20,8151.69,28.0,...,204,89.74,158033.90,17559.32,693.13,21,0,100.00,70.49,1
11,10084145,Samiksha sinha,Kolkata,0,2019-10-21 00:00:00,JDA,5,88931.36,0.00,14.0,...,105,81.48,88931.36,17786.27,689.39,10,0,100.00,69.02,2
12,10085949,Ashim Rana,Kolkata,0,2019-12-09 00:00:00,JDA,3,63378.39,5190.68,21.0,...,69,89.74,68569.07,22856.36,890.51,21,2,90.48,68.67,2
13,10087924,V.Prakash kumar,Chennai,0,2020-01-17 00:00:00,JDA,2,64907.63,2500.00,17.0,...,43,84.69,67407.63,33703.81,1321.72,18,1,94.44,68.65,2
14,10081142,Prakash Subhash Sonawane,Pune,0,2019-07-10 00:00:00,JDA,8,117940.68,5499.15,25.5,...,196,97.42,123439.83,15429.98,614.13,23,2,91.30,68.56,2
15,10080030,Ramavath Kantha Rao naik,Hyderabad,0,2019-07-01 00:00:00,JDA,9,1467930.51,203507.63,95.0,...,205,89.63,1671438.14,185715.35,7298.86,76,8,89.47,68.05,2
16,10021348,Nikunj Kalyani,Ahmedabad,0000-00-00 00:00:00,2014-05-19 00:00:00,JDA,7,959115.25,23651.69,26.0,...,170,96.04,982766.95,140395.28,5552.36,14,0,100.00,67.85,2
17,10053262,Rajesh Pachauri,Pune,0000-00-00 00:00:00,2017-07-03 00:00:00,JDA,1,162422.88,37204.24,10.5,...,25,100.00,199627.12,199627.12,7985.08,10,0,100.00,67.79,2
18,10081183,Shivam Anil Tiwari,Pune,0,2019-07-12 00:00:00,JDA,8,164523.31,12609.32,42.0,...,194,96.48,177132.63,22141.58,881.26,32,1,96.88,67.66,2
19,10079752,ANSAR JAVED SHAIKH,Pune,0,2019-06-26 00:00:00,JDA,7,173463.56,73500.00,27.0,...,171,97.85,246963.56,35280.51,1411.22,17,1,94.12,67.44,2
20,10084715,Adarsh R,Bangalore,0,2019-11-12 00:00:00,JDA,4,122009.32,8125.42,13.5,...,86,84.50,130134.75,32533.69,1275.83,9,0,100.00,67.37,2
21,10077963,Sachin Ganesh Lande,Pune,0000-00-00 00:00:00,2019-05-28 00:00:00,JDA,7,92269.49,15448.31,22.0,...,146,82.83,107717.80,15388.26,608.58,16,0,100.00,67.21,2
22,10085829,Chandan Surendraprasad dube,Pune,0,2019-12-09 00:00:00,JDA,4,74323.31,1498.31,14.0,...,79,77.62,75821.61,18955.40,743.35,10,0,100.00,66.93,2
23,10079826,Shashi Kumar Ranjan,Chandigarh,0000-00-00 00:00:00,2019-07-01 00:00:00,JDA,9,368258.47,16598.31,58.0,...,216,94.87,384856.78,42761.86,1687.97,43,4,90.70,66.92,2
24,10081624,Shivram Vithoba Kasrekar,Pune,0,2019-07-17 00:00:00,JDA,8,99558.47,2723.73,21.5,...,201,99.98,102282.20,12785.28,508.87,15,1,93.33,66.90,2
25,10081692,Shubham Yadavrao Dhage,Pune,0000-00-00 00:00:00,2019-07-19 00:00:00,JDA,8,247223.31,4500.00,30.0,...,188,93.67,251723.31,31465.41,1252.35,19,0,100.00,66.80,2
26,10081181,Sachin Kashinath Ghige,Pune,0,2019-07-10 00:00:00,JDA,7,150466.95,8836.44,32.5,...,167,95.43,159303.39,22757.63,910.31,32,5,84.38,66.74,2
27,10076609,Musheeth Ali,Bangalore,0,2019-05-06 00:00:00,JDA,10,324555.51,50647.46,42.0,...,240,94.93,375202.97,37520.30,1483.02,52,9,82.69,66.49,2
28,10080612,sankara rao punyapu,Hyderabad,0,2019-07-08 00:00:00,JDA,9,128122.03,2875.42,29.5,...,207,90.67,130997.46,14555.27,572.04,20,0,100.00,66.48,2
29,10086097,Tejas Ashok Lohar,Pune,0,2019-12-10 00:00:00,JDA,1,36571.19,1000.00,5.0,...,26,100.00,37571.19,37571.19,1445.05,2,0,100.00,66.34,2

In [344]:
JDA_super30.to_csv('JDA_super30.csv')
JDA_rising_superstars.to_csv('JDA_rising_superstars.csv')

#### ME

In [340]:
ME = data.loc[(data['emptype']==1)]
ME_old = ME[['empcode','emptype','month_count','total_working_days','total_present_days','total_mandate', 'total_mandate_rejected', 'collection_sum','ecs_sum','total_dc_sum','ecs_dc_sum','ecs_dc_percentage','present_percent','mandate_clear_percent','Total_revenue','Total_revenue_per_month']]

ME_old['per_Day_Revenue_3y'] = ME_old['Total_revenue']/ME_old['total_working_days']
ME_old.fillna(0,inplace=True)

x = ME_old.iloc[0:,7:].values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df = pd.DataFrame(x_scaled, index=ME_old.empcode[0:])

ME_old.reset_index(inplace=True)
df.reset_index(inplace=True)

bbb = pd.concat([df.iloc[:,1:],ME_old], axis=1)

bbb.rename(columns= {0:'Norm_collection_sum',1:'Norm_ecs_sum',2:'Norm_total_dc_sum',3:'Norm_ecs_dc_sum',4:'Norm_ecs_dc_percentage',5:'Norm_present_percent',6:'Norm_mandate_clear_percent',7:'Norm_Total_revenue',8:'Norm_Total_revenue_per_month', 9:'Norm_per_Day_Revenue_3y'}, inplace=True)
bbb.fillna(0,inplace=True)


a = bbb['Norm_present_percent']*20
b = bbb['Norm_mandate_clear_percent']*20
c = bbb['Norm_ecs_dc_percentage']*20
d = bbb['Norm_per_Day_Revenue_3y']*20
e = bbb['Norm_mandate_clear_percent']*20

bbb['Performance']= a+b+c+d+e
bbb['grade'] = 0

a=bbb
for index in a.index:
    if a.loc[index,'Performance']>=70.00:
        a.loc[index,'grade'] = 1
    elif (a.loc[index,'Performance']>=60.00) & (a.loc[index,'Performance']<70.00):
        a.loc[index,'grade'] = 2
    elif (a.loc[index,'Performance']>=40.00) & (a.loc[index,'Performance']<60.00):
        a.loc[index,'grade'] = 3
    elif (a.loc[index,'Performance']>=10.00) & (a.loc[index,'Performance']<40.00):
        a.loc[index,'grade'] = 4
    elif (a.loc[index,'Performance']>=0.00) & (a.loc[index,'Performance']<10.00):
        a.loc[index,'grade'] = 5

ME_new2 = a
ME_new2.columns
ME_new2.set_index('empcode',inplace=True)

ME_new2.drop(columns=['index'],inplace=True)
ME_new2.reset_index(inplace=True)

ME_2 = ME_new2[['empcode', 'emptype','month_count','collection_sum', 
'ecs_sum', 'total_dc_sum','ecs_dc_sum','ecs_dc_percentage','total_working_days',
'total_present_days', 'present_percent','Total_revenue','Total_revenue_per_month', 'per_Day_Revenue_3y',  'total_mandate', 
'total_mandate_rejected','mandate_clear_percent','Performance', 'grade']]


ME = pd.merge(df2[['empcode','empname','empcity','date_of_leaving','added_on']],ME_2, on='empcode')
ME.drop_duplicates(inplace=True)


ME.fillna(0,inplace=True)
ME['emptype'] =label_encoder.inverse_transform(ME['emptype'])

ME_1_active = ME.loc[(ME['grade']==1) & (ME['month_count']>=1) & (ME['date_of_leaving']==0) | (ME['grade']==1) & (ME['month_count']>=1) & (ME['date_of_leaving']=='0000-00-00 00:00:00')] 
ME_2_active = ME.loc[(ME['grade']==2) & (ME['month_count']>=1) & (ME['date_of_leaving']==0) | (ME['grade']==2) & (ME['month_count']>=1) & (ME['date_of_leaving']=='0000-00-00 00:00:00')] 
ME_3_active = ME.loc[(ME['grade']==3) & (ME['month_count']>=1) & (ME['date_of_leaving']==0) | (ME['grade']==3) & (ME['month_count']>=1) & (ME['date_of_leaving']=='0000-00-00 00:00:00')] 
ME_4_active = ME.loc[(ME['grade']==4) & (ME['month_count']>=1) & (ME['date_of_leaving']==0) | (ME['grade']==4) & (ME['month_count']>=1) & (ME['date_of_leaving']=='0000-00-00 00:00:00')] 
ME_5_active = ME.loc[(ME['grade']==5) & (ME['month_count']>=1) & (ME['date_of_leaving']==0) | (ME['grade']==5) & (ME['month_count']>=1) & (ME['date_of_leaving']=='0000-00-00 00:00:00')] 

ME_active = pd.concat([ME_1_active, ME_2_active, ME_3_active,ME_4_active, ME_5_active], axis=0)
ME_active.reset_index(inplace=True)

ME_active.fillna(0,inplace=True)
ME_active.drop(columns='index',inplace=True)


ME_active = ME_active[['empcode', 'empname', 'empcity', 'date_of_leaving', 'added_on',
       'emptype', 'month_count', 'collection_sum', 'ecs_sum', 'total_dc_sum',
       'ecs_dc_sum', 'ecs_dc_percentage','total_working_days',
       'total_present_days', 'present_percent',
       'Total_revenue', 'Total_revenue_per_month', 'per_Day_Revenue_3y', 'total_mandate', 'total_mandate_rejected',
       'mandate_clear_percent' ,'Performance','grade']]

ME = ME_active[['collection_sum', 'ecs_sum', 'total_dc_sum',
       'ecs_dc_sum', 'ecs_dc_percentage', 'total_working_days',
       'total_present_days', 'present_percent', 'Total_revenue',
       'Total_revenue_per_month', 'per_Day_Revenue_3y','total_mandate', 'total_mandate_rejected',
       'mandate_clear_percent', 'Performance','grade']].round(decimals = 2)

ME1 = ME_active[['empcode', 'empname', 'empcity', 'date_of_leaving', 'added_on',
       'emptype', 'month_count']]


ME_final = pd.concat([ME1,ME], axis=1)

ME_super30 = ME_final.loc[(ME_final['per_Day_Revenue_3y']>500) & (ME_final['month_count']>=12)]
ME_rising_superstars = ME_final.loc[(ME_final['month_count']<12) & (ME_final['per_Day_Revenue_3y']>500)]
ME_super30 = ME_super30.sort_values(by='Performance',ascending=False).head(30).reset_index()
ME_rising_superstars = ME_rising_superstars.sort_values(by=('Performance'),ascending=False).head(30).reset_index()
ME_super30.drop(columns='index',inplace=True)
ME_rising_superstars.drop(columns='index',inplace=True)

/tmp/ipykernel_7232/871416539.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ME_old['per_Day_Revenue_3y'] = ME_old['Total_revenue']/ME_old['total_working_days']
/tmp/ipykernel_7232/871416539.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ME_old.fillna(0,inplace=True)

In [341]:
ME_super30

,empcode,empname,empcity,date_of_leaving,added_on,emptype,month_count,collection_sum,ecs_sum,total_dc_sum,...,total_present_days,present_percent,Total_revenue,Total_revenue_per_month,per_Day_Revenue_3y,total_mandate,total_mandate_rejected,mandate_clear_percent,Performance,grade
0,2129,Jayantrao Gavhane,Pune,0000-00-00 00:00:00,2007-03-10 00:00:00,ME,12,5902390.31,21716181.36,269.0,...,317,104.27,27618571.67,2301547.64,90850.56,157,15,90.45,69.88,2
1,10014610,Navin Kumar,Pune,0000-00-00 00:00:00,2013-09-16 00:00:00,ME,12,3545234.75,30457874.58,246.0,...,314,103.27,34003109.32,2833592.44,111852.33,164,27,83.54,68.46,2
2,650,Ganesh Mulik,Pune,0000-00-00 00:00:00,2005-11-08 00:00:00,ME,12,2426563.23,2472716.10,38.0,...,294,96.66,4899279.33,408273.28,16116.05,33,1,96.97,67.74,2
3,10001648,Navin Bedadur,Pune,0000-00-00 00:00:00,2012-05-04 00:00:00,ME,12,2210333.05,10025564.41,189.0,...,306,100.64,12235897.46,1019658.12,40249.66,148,19,87.16,67.57,2
4,10008670,Dheepakkumar A,Chennai,0000-00-00 00:00:00,2013-01-07 00:00:00,ME,12,12569702.47,24261906.78,481.0,...,306,100.44,36831609.25,3069300.77,120759.37,119,6,94.96,67.02,2
5,10064187,Pratik Mandlik,Pune,0000-00-00 00:00:00,2018-05-28 00:00:00,ME,12,1720729.66,729775.42,185.0,...,312,102.64,2450505.08,204208.76,8060.87,123,10,91.87,66.47,2
6,10004118,Dhananjay Bhanage,Pune,0000-00-00 00:00:00,2012-08-04 00:00:00,ME,12,3156149.30,12320329.66,186.0,...,307,100.95,15476478.96,1289706.58,50909.47,113,13,88.50,66.40,2
7,10018205,Swapnil Misar,Pune,0,2014-01-27 00:00:00,ME,12,2133626.27,2595992.37,186.0,...,304,99.97,4729618.64,394134.89,15557.96,89,2,97.75,66.36,2
8,10029281,Pradeep Patil M,Bangalore,0000-00-00 00:00:00,2015-04-13 00:00:00,ME,12,3423108.47,6586354.24,298.0,...,300,98.74,10009462.71,834121.89,32925.86,215,26,87.91,66.35,2
9,20433,Naveen Kumar,Bangalore,0000-00-00 00:00:00,2011-08-26 00:00:00,ME,12,4002839.83,5615197.46,255.5,...,304,100.06,9618037.29,801503.11,31638.28,121,6,95.04,66.07,2
10,10010800,Qamar Sayyad,Mumbai,0000-00-00 00:00:00,2013-05-04 00:00:00,ME,12,5944865.24,19406596.61,308.0,...,310,101.67,25351461.85,2112621.82,83119.55,101,6,94.06,65.89,2
11,10036041,Mosin Shaikh,Pune,0,2016-01-19 00:00:00,ME,12,3438792.37,12819200.85,262.0,...,315,103.62,16257993.22,1354832.77,53480.24,179,29,83.80,65.81,2
12,10002025,Kiran Raskar,Pune,0000-00-00 00:00:00,2012-05-18 00:00:00,ME,12,7553830.82,18895135.59,331.0,...,311,102.29,26448966.42,2204080.53,87003.18,133,12,90.98,65.64,2
13,10012633,Vinayak Pawar,Pune,0000-00-00 00:00:00,2013-07-02 00:00:00,ME,12,4148540.68,16270707.63,346.0,...,310,101.95,20419248.31,1701604.03,67168.58,218,35,83.94,65.38,2
14,10004521,santosh Nayak,Pune,0000-00-00 00:00:00,2012-08-21 00:00:00,ME,12,3573433.47,11462691.53,272.0,...,307,100.96,15036125.00,1253010.42,49460.94,172,23,86.63,65.32,2
15,304,Hemang Narendra Shah,Mumbai,0000-00-00 00:00:00,2004-07-01 00:00:00,ME,12,14683708.55,21756265.25,365.0,...,310,101.64,36439973.81,3036664.48,119475.32,100,9,91.00,65.26,2
16,10011737,Mohammed Raza,Mumbai,0000-00-00 00:00:00,2013-06-08 00:00:00,ME,12,9588990.68,39214272.03,337.0,...,305,99.99,48803262.71,4066938.56,160010.70,76,11,85.53,65.06,2
17,10023661,M Sampathkumar,Coimbatore,0000-00-00 00:00:00,2014-07-21 00:00:00,ME,12,2875818.64,7965764.41,323.0,...,312,101.69,10841583.05,903465.25,35314.60,180,20,88.89,65.05,2
18,10034793,Mahesh Bhalekar,Pune,0000-00-00 00:00:00,2015-10-12 00:00:00,ME,12,2145373.73,1589784.75,206.0,...,304,99.99,3735158.47,311263.21,12286.71,117,10,91.45,65.03,2
19,10008013,Sreenu Naroju,Hyderabad,0000-00-00 00:00:00,2012-12-10 00:00:00,ME,12,7723691.35,14564672.03,197.0,...,295,97.07,22288363.38,1857363.62,73316.98,74,4,94.59,64.93,2
20,10070938,Omkar Kulkarni,Pune,0,2018-12-10 00:00:00,ME,12,963979.66,283506.78,163.0,...,314,103.28,1247486.44,103957.20,4103.57,71,2,97.18,64.84,2
21,10002761,Mukesh Mahajan,Pune,0000-00-00 00:00:00,2012-06-15 00:00:00,ME,12,4493669.49,12989058.47,301.0,...,314,103.28,17482727.97,1456894.00,57508.97,157,22,85.99,64.64,2
22,10043806,Mallesh Divekar,Pune,0000-00-00 00:00:00,2016-08-16 00:00:00,ME,12,3566456.78,6025934.75,324.0,...,313,102.96,9592391.53,799365.96,31553.92,197,27,86.29,64.61,2
23,10433,Bharat Patki,Pune,0000-00-00 00:00:00,2009-08-25 00:00:00,ME,12,9237515.80,8046459.32,161.0,...,310,101.97,17283975.12,1440331.26,56855.18,54,3,94.44,64.57,2
24,10045339,Vijaya Kumar G,Chennai,0,2016-10-17 00:00:00,ME,12,7471454.24,16562027.97,358.0,...,311,102.05,24033482.20,2002790.18,78798.30,148,18,87.84,64.40,2
25,10004872,Shriram Sawant,Pune,0000-00-00 00:00:00,2012-09-04 00:00:00,ME,12,4995427.97,14407833.05,321.0,...,285,93.62,19403261.02,1616938.42,63826.52,135,10,92.59,64.35,2
26,10068962,Rajesh Tikle,Pune,0,2018-09-27 00:00:00,ME,12,925679.66,452622.03,151.0,...,306,100.62,1378301.69,114858.47,4533.89,111,16,85.59,64.34,2
27,10043089,Bharath Kumar S,Bangalore,0000-00-00 00:00:00,2016-07-25 00:00:00,ME,12,4030109.32,30818620.34,200.0,...,301,99.08,34848729.66,2904060.81,114633.98,112,24,78.57,64.30,2
28,10001090,Mahesh Kamble,Pune,0000-00-00 00:00:00,2012-04-16 00:00:00,ME,12,4958476.09,7962396.61,246.0,...,311,102.28,12920872.70,1076739.39,42502.87,135,19,85.93,64.22,2
29,10018330,Shashi Kiran,Bangalore,0000-00-00 00:00:00,2014-02-03 00:00:00,ME,12,4128051.69,4120779.66,204.0,...,302,99.38,8248831.36,687402.61,27134.31,111,12,89.19,64.20,2

In [342]:
ME_rising_superstars

,empcode,empname,empcity,date_of_leaving,added_on,emptype,month_count,collection_sum,ecs_sum,total_dc_sum,...,total_present_days,present_percent,Total_revenue,Total_revenue_per_month,per_Day_Revenue_3y,total_mandate,total_mandate_rejected,mandate_clear_percent,Performance,grade
0,10015427,Nishant Gupta,Bangalore,0000-00-00 00:00:00,2013-10-01 00:00:00,ME,1,24314.41,0.00,7.0,...,25,100.00,24314.41,24314.41,972.58,16,0,100.00,77.60,1
1,6665656565665,sdcsdcsd,Mumbai,0000-00-00 00:00:00,2013-05-29 00:00:00,ME,5,568910.17,0.00,105.0,...,129,100.00,568910.17,113782.03,4410.16,37,0,100.00,76.47,1
2,10071668,Jeetoo Tiwari,Pune,0,2018-12-26 00:00:00,ME,1,6433.05,12580.51,4.0,...,19,76.00,19013.56,19013.56,760.54,7,0,100.00,73.38,1
3,23267,Amit Kumar,Pune,0000-00-00 00:00:00,2012-02-01 00:00:00,ME,7,449307.86,1326559.32,19.0,...,167,95.07,1775867.19,253695.31,10090.15,22,2,90.91,71.52,1
4,10077963,Sachin Ganesh Lande,Pune,0000-00-00 00:00:00,2019-05-28 00:00:00,ME,3,165183.05,69814.41,35.0,...,80,105.23,234997.46,78332.49,3092.07,23,0,100.00,71.21,1
5,10089074,Riyaj Salim Maner,Pune,0,2020-02-17 00:00:00,ME,1,17300.00,0.00,3.0,...,25,100.00,17300.00,17300.00,692.00,2,0,100.00,70.92,1
6,10015044,Moseen Syed,Pune,0000-00-00 00:00:00,2013-09-30 00:00:00,ME,2,512937.29,1586804.24,48.0,...,57,114.00,2099741.53,1049870.76,41994.83,29,1,96.55,70.65,1
7,10086251,Ravi kumar,Noida,0,2019-12-16 00:00:00,ME,3,193369.49,72650.85,49.0,...,80,105.13,266020.34,88673.45,3500.27,55,9,83.64,70.47,1
8,10083643,Sarath Kumar,Coimbatore,0000-00-00 00:00:00,2019-09-24 00:00:00,ME,5,507803.39,63423.73,67.0,...,119,93.85,571227.12,114245.42,4497.85,51,1,98.04,70.27,1
9,10062996,Ajinkya Shrirao,Pune,0,2018-04-30 00:00:00,ME,1,27005.93,88496.61,10.0,...,25,100.00,115502.54,115502.54,4620.10,13,1,92.31,69.74,2
10,10084951,Gowtham Mahadevan,Coimbatore,0,2019-11-22 00:00:00,ME,4,370605.08,38196.61,50.0,...,107,106.40,408801.69,102200.42,4047.54,34,2,94.12,68.95,2
11,10084102,Manikanta G,Bangalore,0,2019-10-21 00:00:00,ME,5,816644.92,290344.07,101.0,...,123,96.98,1106988.98,221397.80,8716.45,88,8,90.91,68.54,2
12,10086872,Mohammed Imran,Bangalore,0,2019-12-24 00:00:00,ME,3,431738.14,82342.37,43.0,...,72,94.97,514080.51,171360.17,6764.22,36,3,91.67,67.68,2
13,10083198,Sathish kumar A,Chennai,0000-00-00 00:00:00,2019-08-27 00:00:00,ME,6,601028.81,305550.85,92.0,...,151,100.16,906579.66,151096.61,6003.84,90,15,83.33,67.56,2
14,10077642,Sudhakar,Chennai,0000-00-00 00:00:00,2019-05-24 00:00:00,ME,10,1538964.41,346626.27,152.0,...,253,100.08,1885590.68,188559.07,7452.93,115,9,92.17,67.49,2
15,10088960,Gaurav sharma,Noida,0000-00-00 00:00:00,2020-02-17 00:00:00,ME,2,35354.24,0.00,11.0,...,26,52.00,35354.24,17677.12,707.08,11,0,100.00,67.34,2
16,10087759,Kathika Avinash,Hyderabad,0,2020-01-08 00:00:00,ME,3,342112.71,56025.42,69.0,...,69,90.67,398138.14,132712.71,5238.66,59,6,89.83,67.22,2
17,10084958,Deepak Dayaram Katira,Mumbai,0,2019-11-21 00:00:00,ME,4,571072.03,524009.32,69.0,...,101,98.92,1095081.36,273770.34,10736.09,59,8,86.44,67.05,2
18,10086097,Tejas Ashok Lohar,Pune,0,2019-12-10 00:00:00,ME,2,96155.93,15000.00,23.0,...,53,106.00,111155.93,55577.97,2223.12,18,3,83.33,66.84,2
19,10006694,Sachin Arane,Mumbai,0000-00-00 00:00:00,2012-10-20 00:00:00,ME,7,5577815.11,8770903.39,247.0,...,176,99.98,14348718.50,2049816.93,81526.81,111,9,91.89,66.50,2
20,10084093,Maheswara Reddy Kunam,Hyderabad,0,2019-10-21 00:00:00,ME,5,232229.66,39805.08,52.0,...,130,101.60,272034.75,54406.95,2125.27,42,6,85.71,66.46,2
21,10071684,Ghanshyam Dehariya,Pune,0,2018-12-26 00:00:00,ME,3,74374.58,37517.80,41.0,...,75,98.62,111892.37,37297.46,1472.27,40,8,80.00,66.46,2
22,10038492,Balachandar D,Coimbatore,0000-00-00 00:00:00,2016-03-14 00:00:00,ME,2,120181.36,196615.25,29.5,...,48,94.08,316796.61,158398.31,6211.70,27,4,85.19,66.19,2
23,10088659,Amnus sebastian,Coimbatore,0000-00-00 00:00:00,2020-02-11 00:00:00,ME,2,32059.32,0.00,8.0,...,37,72.00,32059.32,16029.66,628.61,10,1,90.00,66.17,2
24,10086918,Viveksagar kshatri,Pune,0000-00-00 00:00:00,2019-12-26 00:00:00,ME,3,298146.61,8386.44,29.0,...,73,95.85,306533.05,102177.68,4033.33,18,1,94.44,65.86,2
25,10087081,Gutla Sravan Manikanta,Hyderabad,0000-00-00 00:00:00,2019-12-30 00:00:00,ME,3,377422.88,181483.05,51.0,...,74,97.49,558905.93,186301.98,7354.03,42,7,83.33,65.77,2
26,10086751,Shubham Chhatwal,Chandigarh,0,2019-12-24 00:00:00,ME,3,72092.37,0.00,13.0,...,70,91.90,72092.37,24030.79,948.58,9,1,88.89,65.58,2
27,10061737,Deepak Raj V,Coimbatore,0,2018-03-26 00:00:00,ME,10,1832916.95,3094883.90,244.0,...,255,100.03,4927800.85,492780.08,19324.71,178,27,84.83,65.48,2
28,10030301,Nikhil Nawarkar,Pune,0000-00-00 00:00:00,2015-05-11 00:00:00,ME,4,485673.73,330518.64,57.0,...,92,90.27,816192.37,204048.09,8001.89,41,3,92.68,65.31,2
29,10083618,Satheesh S,Coimbatore,0000-00-00 00:00:00,2019-09-24 00:00:00,ME,6,606489.83,27640.68,72.0,...,156,102.67,634130.51,105688.42,4171.91,37,1,97.30,65.23,2

In [345]:
ME_super30.to_csv('ME_super30.csv')
ME_rising_superstars.to_csv('ME_rising_superstars.csv')